
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div *ngIf="contact" class="contacts">

    <form class="contact100-form validate-form">
      	<span class="contact100-form-title"></span>
        <h2>{{contact.first_name + ' ' + contact.last_name }} Details:</h2>
				<span class="contact100-form-title"></span>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="First Name is required">
					<span class="label-input100">First Name</span>
					<input class="input100" type="text" name="name" placeholder="Enter your First Name">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Last Name is required">
					<span class="label-input100">Last Name</span>
					<input class="input100" type="text" name="name" placeholder="Enter your Last Name">
					<span class="focus-input100"></span>
				</div>
				

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" name="email" placeholder="Enter your email addess">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input">
					<span class="label-input100">Phone</span>
					<input class="input100" type="text" name="email" placeholder="Enter your phone number">
					<span class="focus-input100"></span>
				</div>

		
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Save
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>

      <!--
  <h2>{{contact.first_name + ' ' + contact.last_name }} Details:</h2>
  <div class="contacts-details">
    <ul>
      <li> 
        <label >First Name:    
          <input class="input" [(ngModel)]="contact.first_name" placeholder="first_name"/>
        </label>
      </li>
     <li>
        <label>Last Name:
            <input class="input" [(ngModel)]="contact.last_name" placeholder="last_name"/>
          </label>
     </li>
    </ul>
    <ul>
      <li>
          <label>Phone:    
              <input class="input" [(ngModel)]="contact.phone" placeholder="phone"/>
            </label>
      </li>
      <li>
          <label>Mobile:
              <input class="input" [(ngModel)]="contact.mobile" placeholder="mobile"/>
            </label>
      </li>
    </ul>
  </div>-->
</div>
