
  
  <!--
  <aside>
      <div id="sidebar"  class="nav-collapse ">

          <h3>{{title}}</h3>
          <ul class="sidebar-menu" id="nav-accordion">
          
              <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              <h5 class="centered">Marcel Newman</h5>

            </ul>

      </div>
  </aside>
  -->
<div class="center">
<div class="dropdown">
  <button class="dropbtn">Create</button>
  <div class="dropdown-content">
    <a href="#">Contact</a>
    <a href="#">Address</a>
    <a href="#">Customer</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Search</button>
  <div class="dropdown-content">
    <nav><a routerLink="/searchContacts">Contact</a></nav>
    <a href="#">Address</a>
    <a href="#">Customer</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Support</button>
  <div class="dropdown-content">
    <a href="#">Create Case</a>
    <a href="#">Search Case</a>
    <a href="#">Create Notification</a>
    <a href="#">Search Notification</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Admin</button>
    <div class="dropdown-content">
      <a href="#">Create User</a>
      <a href="#">Search User</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Logout</button>
</div>
<router-outlet></router-outlet>
</div>




